<div class="bg-black rounded-md border h-full border-neutral-800">
  <div class="relative w-full overflow-auto h-full">
    <table class="w-full divide-y divide-neutral-800">
      <thead class="sticky top-0">
        <tr>
          <th scope="col" class="px-6 py-3 text-start text-sm font-roboto-mono text-neutral-400">Timestamp</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-roboto-mono text-neutral-400">Command</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-roboto-mono text-neutral-400">Message</th>
          <th scope="col" class="px-6 py-3 text-start text-sm font-roboto-mono text-neutral-400">Status</th>
        </tr>
      </thead>
      <tbody id="status-elements" class="font-roboto-mono divide-y divide-neutral-800">
        {% for status in statuses.iter() %}
        <tr class="hover:bg-neutral-800">
          <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-50">{{status.timestamp}}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-50">{{status.cmd}}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-neutral-50">{{status.msg}}</td>
          {% if status.status %}
          <td class="px-6 py-4 whitespace-nowrap text-sm text-green-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-circle-check size-5">
              <circle cx="12" cy="12" r="10" />
              <path d="m9 12 2 2 4-4" />
            </svg>
          </td>
          {% else %}
          <td class="px-6 py-4 whitespace-nowrap text-sm text-red-500">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="lucide lucide-circle-x size-5">
              <circle cx="12" cy="12" r="10" />
              <path d="m15 9-6 6" />
              <path d="m9 9 6 6" />
            </svg>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
