<header class="sticky top-0 z-50 w-full border-b border-neutral-700 backdrop-blur">
  <div class="w-full mx-auto px-8 flex h-14 max-w-screen-2xl items-center">
    <div class="mr-4 flex">
      <a href="/status" class="mr-6 flex items-center space-x-2">
      <img src="/assets/favicon.webp" alt="logo" class="h-6 w-6">
      <span class="hidden font-bold text-neutral-200 sm:inline-block">sugoi</span>
      </a>
    </div>
    <div class="ml-auto flex items-center space-x-4">
    </div>
  </div>
</header>

