<!doctype html>
<html lang="en" class="scrollbox">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Sugoi Status Page</title>
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="icon" href="/assets/favicon.webp">
  <script src="/assets/htmx.min.js" defer></script>
</head>

<body
  class="absolute inset-0 h-full w-full bg-black bg-[radial-gradient(#262626_1px,transparent_1px)] [background-size:24px_24px]">
  {% include "header.html" %}

  <div class="2xl:container mx-auto px-8 py-5 flex-grow flex">
    {% include "status/partial.html" %}
  </div>
</body>

</html>
